.form__item{
    display: flex;
        margin-top: 10px;

        p{
            margin-left: 10px;
        }
}

.form__textfield-container{
    width: 100%;
    margin-bottom: 24px;
}

.form__textfield{
    width: 100%;
    padding: 6px 12px;
    border-radius: 8px;
    height: 50px;
    font-size: 16px;
}

.form__textfield-error{
    color: red;
    margin-top: 10px;
    align-self: flex-start;
}