.modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 25;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
}

.modalActive{
    opacity: 1;
    pointer-events: all;
}

.content{
    transform: scale(0.5);
    transition: 0.4s all;
}

.contentActive{
    transform: scale(1);
}

