.comparisons{
    padding: 150px 0px 50px 0px;
    background-color: #f8f8f8;

    &__empty{
        padding: 50px 0px;
        font-family: 'Open Sans', sans-serif;

        &-text{
            font-size: 20px;
            text-align: center;
            font-weight: 500px;
            
        }
    }

    &__tariffs{
        position: relative;
    }

    &__tariffs-bg{
        max-width: 1200px;
        margin: 0 auto;

        &-row{
            padding: 10px 10px 0px 10px;
            height: 70px;
            text-align: center;

            &:first-child{
                height: 170px;
            }

            &:nth-child(even){
                background-color:#edf1f6;
            }
        }
    }

    &__tariffs-items-wrapper{
        position: absolute;
        z-index: 3;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
    }

    &__tariffs-items{
        font-family: 'Open Sans', sans-serif;
        height: 100%;
        max-width: 1200px;
        padding: 0 10px;
        margin: 0 auto;
        display: flex;
    }

    @media(max-width: 900px){
        &__tariffs-items{
            overflow-x: auto;
            scroll-snap-type: x;
        }
    }
}

.cs__tariffs-item{
    padding: 10px 10px;
    flex-basis: 0;
    flex-grow: 1;
    width: 100%;
    
    &-row{
        height: 70px;
        text-align: center;
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
        justify-content: flex-end;

        &:first-child{
            height: 160px;
        }

        a{
            font-size: 16px;
            &:hover{
                text-decoration: underline;
            }
        }
    }

    &-sale{
        @extend %gradient-style;
        display: inline-flex;
        align-self: center;
        padding: 8px 4px;
        border-radius: 8px;
    }

    &-logo{
        height: 42px;
        margin-bottom: 16px;

        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &-title{
        font-size: 20px;
        height: 74px;
    }

    &-remove{
        font-size: 16px;
        text-decoration: underline;
    }

    @media(max-width: 900px){
      min-width: 220px;
      scroll-snap-align: start;
    }
}

